.footer {
  background-color: var(--second-background-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.container--footer {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer__case {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    align-items: start;
  }
}

.address__list {
  margin-top: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.address__item {
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social--footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 20px auto;
}

.social__link.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
