:root {
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --logo-color: #2196f3;
  --header-second-logo-color: #000000;
  --footer-second-logo-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --navigation-link-color: #212121;
  --contact-link-color: #757575;
  --button-background-color: #f5f4fa;
  --button-text-color: #212121;
  --accent-button-background-color: #2196f3;
  --accent-button-text-color: #ffffff;
}
